<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="fail">
      <h2>User error signup</h2>
      <button><a href="/register">Volver</a></button>
    </div>
  </body>
</html>