<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <h2>Ingrese los siguientes datos para registrarse:</h2>
    <div class="main__form">
      <form name="login-form" action="/register" method="POST">
        <div class="input">
          <label for="Email" class="input-label">Ingrese un Email:</label>
          <input type="text" id="Email" name="username" class="input-field" />
        </div>
        <div class="input"> 
            <label for="password" class="input-label">Ingrese una contraseña:</label>
            <input type="text" id="password" name="password" class="input-field" />
        </div>
        <input type="submit" class="action-button" />
      </form>

      <button><a href="/login">Ya estoy registrado</a></button>
    </div>
</body>
</html>